.form-teacher{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #999;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;

    & > form{

    }

    &__wrapper{
        display: flex;
    }

    .select-text{
        color: $cinzaTexto;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__top{
            background-color: #fff;
            border-top-left-radius: 15px;
        }
    }

    &__input-foto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        input[type=file]{
            display: none;
        }

        label{                
            background: $degrade;
            color: $corBranco;
            padding: .3rem .8rem;
            border-radius: 5px;
            font-size: .8rem;
            cursor: pointer;
        }
                
        img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }   
    }

    &__input{
        position: relative;
        width: 100%;
        padding: .2rem .5rem;
        box-shadow: 0 3px 3px -3px $cinzaShadow;

        input{
            width: 100%;                   
            border: none;
            font-size: 1rem;

            &:focus{
                outline: none;
            }

            &:valid + p{
                transform: translateY(-160%);
                font-size: .8rem;
            }                                       
        }                      
    }

    &__placeholder{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $cinzaTexto;
        pointer-events: none;
    }  

    &__select-cores{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__items{
            height: 25px;
            width: 25px;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                transform: translateY(-3px);
            }
        }
    }

    &__observation{
        background-color: #fff;
        border-bottom-left-radius: 15px;
 
        input{
            height: 40px;
            width: 100%;
        }
    }

    &__right{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__select-dias{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top-right-radius: 15px;
    }

    &__div-dias{
        display: flex;
        gap: 20px;
    }

    &__input-dia{
                    
        input[type=checkbox]{
            display: none;
        }

        input[type=checkbox]:checked + label{
            background: $corAzulClaro;
            color: $corBranco;
            border: 1px solid $corAzulClaro;
            transition: 0s;
        }

        label{
            color: $corLaranja;
            padding: .1rem .8rem;
            border: 1px solid $corLaranja;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__select-schedules{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom-right-radius: 15px;
    }

    &__div-schedules{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__input-schedules{
        input[type=checkbox]{
            display: none;
        }

        input[type=checkbox]:checked + label{
            background: $corAzulClaro;
            color: $corBranco;
            border: 1px solid $corAzulClaro;
            transition: 0s;
        }

        label{
            color: $corLaranja;
            padding: .1rem .8rem;
            border: 1px solid $corLaranja;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__btns{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 60px;

        button{
            width: 100px;
            padding: 0.3rem 0;
            border-radius: 5px;

            &:hover{
                transform: scale(1.02);
            }
        }

        &__cancelar{
            background-color: $cinzaTexto;
            color: $corBranco;             
        }

        &__submit{
            background: $degrade;
            color: $corBranco;
        }
    }
}