.form-schedule{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    gap: 200px;
    padding: 2rem 2rem;
    border-radius: 5px;
    z-index: 1000;

    & input[type=radio]{
        display: none;
    }

    &__title{
        margin-block: 1rem 2rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__input-name{
        width: 100%;

        & > input{
            width: 100%;    
            padding: .2rem .4rem;               
            font-size: 1rem;

            &:focus{
                outline: none;
            }                                      
        }    
        
        & > label{

        }
    }

    &__placeholder{
        
    }  

    &__division{

    }

    &__wrapper-division{
        display: flex;
        gap: 20px;
    }

    &__input-division{

        & > label{
            padding: .2rem .8rem;
            border: 2px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }

        & > input:checked ~ label{
            background: $degrade;
            color: $corBranco;
            transition: color .1s;
        }
    }

    &__module{

    }

    &__wrapper-module{
        display: flex;
        gap: 20px;
    }

    &__input-module{

        & > label{
            padding: .2rem .8rem;
            border: 2px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }

        & > input:checked ~ label{
            background: $degrade;
            color: $corBranco;
            transition: color .1s;
        }
    }

    &__wrapper-button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0rem;
    }
}

.button-cancel{
    width: 130px;
    padding: .4rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.button-submit{
    background: $degrade;
    color: $corBranco;
    width: 130px;
    padding: .4rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}