.form-teacher{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $corBranco;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;

    & > form{

    }

    &__wrapper-form-teacher{
        display: flex;
    }

    .select-text{
        color: $cinzaTexto;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__top{
            border-top-left-radius: 15px;
        }
    }

    &__input-foto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        input[type=file]{
            display: none;
        }

        label{                
            background: $degrade;
            color: $corBranco;
            padding: .3rem .8rem;
            border-radius: 5px;
            font-size: .8rem;
            cursor: pointer;
        }
                
        img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }   
    }

    &__select-cores{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &__items{
            height: 25px;
            width: 25px;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                transform: translateY(-3px);
            }
        }
    }

    &__wrapper-days{
        display: flex;
        gap: 10px;
    }
}