.teacher{
    position: relative;
    min-height: 100vh;
    display: flex;

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__search{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-top-right-radius: 15px;

        &__title{
            font-size: 1.2rem;
        }

        &__direito{
            display: flex;
            gap: 1rem;
        }
        
        &__button-filtro{
            background-color: $corBranco;
            color: $corPreto;
            padding: .5rem 1rem;
            border-radius: 50px;
            box-shadow: 0px 2px 2px $cinzaTexto;
        }      
    }

    &__wrapper{
        background-color: #fff;
        height: 85vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 1rem 2rem 1rem 1rem;
        border-bottom-right-radius: 15px;
        overflow-y: scroll;
    }
}