.form-teacher{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $corBranco;
    border-radius: 5px;
    z-index: 1000;

    form{
        position: relative;
        padding: 1.5rem 2rem;
    }

    &__color{
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 100%;
        z-index: 100;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    &__wrapper-form-teacher{
        display: flex;
        gap: 20px;
    }

    .select-text{
        color: $cinzaTexto;
    }

    &__left{
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__top{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 2px 5px #aaa;
            z-index: 1000;
        }

        &__bottom{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 2px 5px #aaa;
            z-index: 1000;
        }
    }

    &__input-foto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        input[type=file]{
            display: none;

        }

        label{                
            background: $degrade;
            color: $corBranco;
            height: fit-content;
            padding: .3rem .8rem;
            border-radius: 5px;
            font-size: .8rem;
            cursor: pointer;
        }
                
        img{
            height: min(100px, 100px);
            width: min(100px, 100px);
            border-radius: 50%;
        }   
    }

    &__input-name{
        width: 100%;

        input{
            width: 100%;
        }
    }

    &__select-color{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__wrapper-select-color{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__input-select-color{
        height: 25px;
        width: 25px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            transform: translateY(-3px);
        }
    }

    &__observation{
        display: flex;
        flex-direction: column;
        gap: 5px;

        textarea{
            height: 50px;
            width: 100%;
            resize: none;
        }
    }

    &__right{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__top{
            background-color: #fff;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 2px 5px #aaa;
            z-index: 1000;
        }

        &__bottom{
            background-color: #fff;
            flex: 1;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 2px 5px #aaa;
            z-index: 1000;
        }
    }

    &__wrapper-days{
        display: flex;
        gap: 10px;
    }

    &__input-day{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__wrapper-selectors{
        display: flex;
        gap: 10px;

        input[type=radio]{
            display: none;
        }

        input[type=radio]:checked + label{
            background: linear-gradient(to left, #ffbe46, #f43e4b);
            color: #fff;
        }

        label{
            padding: .1rem .5rem;
            border-radius: 10px;
            cursor: pointer;
            transition: 0s;
        }
    }

    &__select-schedules{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__wrapper-schedules{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__input-schedules{
        gap: 5px;
        
        input, label{
            cursor: pointer;
        }
    }

    &__wrapper-buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        padding-top: 2rem;

        button{
            width: 120px;
            padding: .5rem;
            border-radius: 15px;
            cursor: pointer;
        }
    }

    &__button-cancel{
        background-color: #fff;
        border: 2px solid #f43e4b;
    }

    &__button-submit{
        background: linear-gradient(to left, #ffbe46, #f43e4b);
        border: 2px;
        color: #fff;
    }
}