.item-schedule{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: .5rem 1rem;
    box-shadow: 0px 2px 5px #aaa;

    &__info{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}