.item-schedule{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: .5rem 1rem;
    box-shadow: 0px 2px 5px #aaa;

    &__info{
        display: flex;
        align-items: center;
        width: 90%;
        gap: 10px;

        > h1{
            width: 40%;
            font-size: 1.5rem;
        }

        > h3{
            width: 20%;
            text-align: end;
        }

        > h4{
            width: 10%;
            border-radius: 25px;
            text-align: center;
            margin-left: 5rem;
        }

        &__Finalizado{
            background-color: #249b34;
            color: white;
        }
        &__Andamento{
            background-color: #eb4b4b;
            color: #fff;
        }
    }

    &__button-see-more{
        padding: .3rem 1rem;
        border-radius: 15px;
    }

}