.card-teacher{
    width: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;

    &__teacher{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        &__foto{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        
        &__nome{
            font-size: 1rem;
        }
    }  

    &__day{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subject{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}