$corLaranja: #fe7f4a;
$corRosa: #ff3f64; 
$corRoxo: #5b1788; 
$corAzul: #0f499d;
$corAzulClaro: #0197c3;
$corBranco: #fff;
$corPreto: #000;
$cinza: #fdfdfe;
$cinzaTexto: #aaa;
$cinzaShadow: #444;
$degrade: linear-gradient(to left, #ffbe46, #f43e4b);

.home{
    position: relative;
    min-height: 100vh;
    display: flex;

    .container{
        width: 100%;
    }
}