
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
  }
  
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  button{
    border: none;
    cursor: pointer;
  }
  