.schedule{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 20px;

    &__header{
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem 2rem;
        border-radius: 15px; 
        box-shadow: 0px 2px 5px #aaa;
    }

    &__wrapper-button{
        display: flex;
        gap: 20px;
    
        & > button{
            width: 100px;
            padding: .3rem .8rem;
            border-radius: 15px;
        }
    }

    &__button-cancel{
        background-color: #fff;
        border: 2px solid #aaa;
    }

    &__button-save{
        background: $degrade;
        color: $corBranco;
    
        &:hover{
            box-shadow: inset 0px 200px 0 $corAzulClaro;
            transition: 1s;
        }
    }    

    &__info{
        display: flex;
        align-items: end;
        gap: 30px;
    }    

    &__wrapper-days, &__help{
        background-color: #fff;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        gap: 20px;
        padding: .8rem;
        border-radius: 15px;
        box-shadow: 0px 2px 5px #aaa;
    }

    &__wrapper-days{
        & > div{
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            & > h4{
                text-decoration: underline;
            }
        }
    }
}