.schedule{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-dias{
    background-color: #ddd;
    height: 300px;
    width: 200px;
}

.prof{
    background-color: aqua;
    height: 300px;
    width: 150px;
    font-size: .8rem;
    overflow-y: scroll;
}

.dia{
    display: flex;
}

.schedule__top, .schedule__bottom{
    display: flex;
}