.schedule{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-dias{
    background-color: #ddd;
    height: 500px;
    width: 250px;
}

.prof{
    background-color: aqua;
    height: 400px;
    width: 200px;
}

.dia{
    display: flex;
}